/solidity-contracts/strings.bin
/solidity-contracts/strings.abi
/solidity-contracts/collectPayment.bin
/solidity-contracts/collectPayment.abi
/CCCRestClient/.settings
/CCCRestClient/.project
/CCCRestClient/.idea
/CCCRestClient/.classpath
/CCCRestClient/CCCRestClient.iml
/CCCRest-ear-ejb/CCCRest-ear-ejb.iml
/CCCRest-ear-ear/CCCRest-ear-ear.iml
/CCCRest-ear-commons/CCCRest-ear-commons.iml
